.body {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-transform: capitalize;
}

.main {
    margin: 0;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.commentariesButton {
    display: flex;
    align-items: flex-end;
    color: blue;
    cursor: pointer;
}